.footer{
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
    padding: 0em 5em;
    background: #CDD2FF;
    color: rgba(99, 99, 99, 1);
}
.div_1{
    width: 40%;
    display: flex;
    justify-content: space-between;
    /* text-align: center; */
    align-items: center;
}
p
.div_1{
    width: 40%;
    display: flex;
    justify-content: space-between;
    /* text-align: center; */
    align-items: center;
}
.div_2{
    width: 25%;
    display: flex;
    justify-content: space-between;
    /* text-align: center; */
    align-items: center;
}

